dist/
node_modules/
.env
.env.local
mobile/www/
mobile/icons/
mobile/store/
mobile/fastlane/screenshots/
mobile/fastlane/metadata/android/*/images/
mobile/fastlane/report.xml
mobile/fastlane/README.md
